REACT_APP_GROQ_API_KEY=gsk_OdTnybWduNAudX6IQ8dHWGdyb3FY97eN70QF4YQ9OblWxIfCSJWneyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVmaWZxZmJvem1wem9sb3hpZnN5ayIsInJvbGUiOiJzZXJ2aWNlX3JvbGUiLCJpYXQiOjE3MzI4OTI1MTUsImV4cCI6MjA0ODQ2ODUxNX0.atUBJ31W_svUORAtLR84tVDmm-u3E2Lvo6quoJ1ewKI
REACT_APP_GROW_API_KEY=AIzaSyAtfltOSCYH3tyInKsiSPJjYFvIWiZXKJ0
